.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.spacer {
  flex: 1;
}

.user-section {
  display: flex;
  align-items: center;
}

.username {
  margin-right: 10px;
}
