<div class="user-cards-container">
    <mat-card class="user-card">
      <mat-card-header>
        <div mat-card-avatar class="profile-pic"></div>
        <mat-card-title>username</mat-card-title>
        <mat-card-subtitle>
          <mat-form-field appearance="fill" class="platform-select">
            <mat-label>Platform</mat-label>
            <mat-select>
              <mat-option value="Minecraft">Minecraft</mat-option>
              <mat-option value="YouTube">YouTube</mat-option>
              <mat-option value="Discord">Discord</mat-option>
              <mat-option value="Steam">Steam</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="account-details">
          <p>444</p>
          <p>Minecon 2015</p>
        </div>
        <div class="account-details">
          <p>username</p>
          <p>Translator</p>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  