.full-width {
    width: 100%;
    margin-bottom: 15px;
  }
  
  .account-container {
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 8px;
    margin-top: 20px;
    background-color: #f9f9f9;
  }
  
  .account-header {
    margin-bottom: 15px;
  }
  